@media screen and (max-width:670px){
    .text-nav {
        text-align: center !important;
        justify-content: center !important;
    }
}

header{
    background-image: url(./media/images.jpeg);
    background-size: cover;
    background-position: bottom;

}



.footer{
    height: 40vh;

}